version: "3.7"
services:
  rabbitmq:
    image: 192.87.106.18:56001/rabbitmq:0.1
    #image: rabbitmq:0.1
    deploy:
      mode: replicated
      replicas: 1
      resources:
        limits:
          cpus: '1.0'
          memory: 512M
      restart_policy:
        condition: any
    labels: 
      MY_DLO_ENVIRONMENT: development
      MY_DLO_PURPOSE: mq
    ports:
      # platform:56000+, dev:57000+, demo:58000+, pilot:59000+
      - $STACK_PORT:5672
    networks:
      - $STACK_NETWORK

networks:
  dev-net:
    external: true
  test-net:
    external: true
  exp-net:
    external: true
